body {
    margin-top: 4rem;
}

.box-shadow-hover:hover {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.services-area {
    width: 100%;
}

.card-title h5 {
    width: 100px;
}

.container {
    width: 100%;
}

#forFun {
    width: 100%;
}

.row {
    width: 100%;

}

.carousel-inner {
    width: 100%;
}

.test_img {
    width: 100%;
    height: 80px;
}

#carousel_img1,
#carousel_img2,
#carousel_img3 {
    width: 100%;
    height: auto;
}

h1 {
    color: brown;
}

.card {
    width: 33.33%;
    float: left;
}

.thankyou {
    background-color: #212529;
    width: 100%;
    height: auto;
}

.thankyou h2,
h4,
h6 {
    padding: 5px 0;
    color: #ff6347
}

#end {
    width: 15%;
}

#foot {
    border-radius: 30px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    top: auto;
    bottom: auto;
    padding: 22px;
    background-color: orange;
}

.carousel-indicators .active {
    background-color: blue;
}

#card_globe{
    font-size: 5rem;
}


/*new test for slider*/

@media (max-width: 500px) {
    #one,
    #two,
    #three {
        display: none;
    }

    #carousel_img1 {
        background: url("images/WIZ1MOBILE.jpg") no-repeat center;
        width: 100vw;
        height: 500px
    }

    #carousel_img2 {
        background: url("images/WIZ2MOBILE.jpg") no-repeat center;
        width: 100vw;
        height: 500px
    }

    #carousel_img3 {
        background: url("images/WIZ3MOBILE.jpg") no-repeat center;
        width: 100vw;
        height: 500px
    }
}

/*new test for slider*/