{% extends 'school/basic.html' %}
{% load static %}
{% block title %} Home - Wiz Kids International School {% endblock %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'school/test.css' %}">
{% endblock %}
{% block body %}
<!-- {% load static %} -->
<!--this is the beginning of carousel slider of homepage only -->
<div>
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel" data-interval="2000">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <!--        carousel item 1-->
        <div class="carousel-inner" id="carousel_img1">
            <div class="carousel-item active">
                <div id="one"><img src="{% static 'school/images/wiz1.jpg' %}"
                     class="d-block w-100"
                     alt="..."></div>
            </div>
            <!--          carousel item 2-->
            <div class="carousel-item" id="carousel_img2">
                <div id="two"><img src="{% static 'school/images/wiz2.jpg' %}"
                     class="d-block w-100"
                     alt="..."></div>
            </div>
            <!--          carousel item 3-->
            <div class="carousel-item" id="carousel_img3">
                <div id="three"><img src="{% static 'school/images/wiz3.jpg' %}"
                     class="d-block w-100"
                     alt="..."></div>
            </div>
        </div>
        <!--        carousel previous button-->
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <!--        carousel next button-->
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<!--this is the ending of carousel slider of homepage only -->
<!--thank-you line with background -->
<div class="thankyou">
    <h2 align="center">Thank-you for spending your precious time with us.</h2>
    <h4 align="center">Les Enfants Sont Dieu</h4>
    <h6 align="center">(Above Line describes Children Are God)</h6>
</div>
<!--thank-you line with background -->
<!--cards in row starts-->
<section class="services-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center services-title">
                <h1 class="text-uppercase title-text">Services Offers</h1>
                <p class="para">
                    We provide such an environment which gives your children a strength to overcome from a challenging opportunity.
                </p>
            </div>
        </div>
        <div class="container services-list">
            <div class="row" id="pehla">
                <div class="col-lg-3 col-md-6 col-sm-12 box-shadow-hover">
                    <div class="services">
                        <div class="services-img text-center py-4">
                            <i class="fa fa-globe-asia fa-5x"></i>
                        </div>
                        <div class="card-body text-center">
                            <h5 class="card-title text-uppercase font-roboto">School Environment</h5>
                            <p class="card-text text-secondary">
                                We think school environment is very
                                important for each and every student
                                for deal with everyday consequences.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 box-shadow-hover">
                    <div class="services">
                        <div class="sevices-img text-center py-4">
                            <i class="fas fa-book-reader fa-5x"></i>
                        </div>
                        <div class="card-body text-center">
                            <h5 class="card-title text-uppercase font-roboto">Precised Learning</h5>
                            <p class="card-text text-secondary">
                                Students are going to get
                                knowledge by understanding the definition of each and every
                                task they are performing.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 box-shadow-hover">
                    <div class="services">
                        <div class="sevices-img text-center py-4">
                            <i class="fa fa-chalkboard-teacher fa-5x"></i>
                        </div>
                        <div class="card-body text-center">
                            <h5 class="card-title text-uppercase font-roboto">Experienced Faculty</h5>
                            <p class="card-text text-secondary">
                                Our Faculty provides the best possible
                                way to gain knowledge for each students
                                with keen observation.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 box-shadow-hover">
                    <div class="services">
                        <div class="sevices-img text-center py-4">
                            <i class="fa fa-gamepad fa-5x"></i>
                        </div>
                        <div class="card-body text-center">
                            <h5 class="card-title text-uppercase font-roboto">Play To Learn</h5>
                            <p class="card-text text-secondary">
                                It is a universal fact that we cannot
                                get knowledge only by reading books
                                we can also get it by playing various games.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--cards in row ends-->
<h1 id="forFun" align="center">Fun Creates Learning</h1>
<div class="map" style="margin: 0 1rem 0 1rem">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d114528.78620135567!2d78.08997687982372!3d26.22839122816022!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3976c7dcaa84de6d%3A0x2e5ab667374ebd87!2sWiz%20kid&#39;s%20international!5e0!3m2!1sen!2sin!4v1591526192713!5m2!1sen!2sin" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>
    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Contact Us</h4>
                    <button class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
                </div>
                <div class="modal-body">
                    <form action="" method="post"> {% csrf_token %}
                        <div class="form-group">
                            <label for="name">Enter Yor Name</label>
                            <input type="text" class="form-control" id="name" name="name" style="text-transform: capitalize;" required>
                        </div>
                        <div class="form-group">
                            <label for="name">Email Address</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                        <div class="form-group">
                            <label for="name">Phone</label>
                            <input type="tel" class="form-control" id="phone" name="phone" required>
                        </div>
                        <div class="form-group">
                            <label for="desc">Query</label>
                            <textarea class="form-control" id="desc" name="desc" rows="3" required></textarea>
                        </div>
                        <div>
                            <button class="btn btn-success" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% block js %}
        <script>
            $(document).ready(function(){
                $("#myModal").modal("show");
            });
        </script>
    {% endblock %}
{% endblock %}